.searched-user-container{
  display: flex;
  align-items: center;
  padding: 24px;
  gap:8px;
  
  p{
    margin:0;
    font-size:12px;
    font-weight:bold ;

    span{
      font-weight: 100;
      margin-left: 2px;
    }
  }

 
  img{
    width: 182px;
    height:200px;
    border: 1px solid black;
  }


  .left-content-container{
    display: flex;
    flex-direction: column;
    gap:16px;
    height: 100%;
    width: 400px;
    .user-name{
      font-size:18px;
    }    

    .detailed-info-container{
      display: flex;
      flex-direction: column;

      .date-nationality-container{
        display: flex;
        align-items: center;
        gap:16px;
      }

      .about-container{
        gap:0;
      }
    }

  }
}