<div>
  <div class="card-container">
    @for (item of tmpArr(); track $index) {
      <div class="card">
        @if (isMatchVolunteer()) {
          <app-volunteer-match-card
            [eventItem]="item"
            (rejectMatch)="rejectMatch.emit($event)"
            (requestMatch)="requestMatch.emit($event)"
          ></app-volunteer-match-card>
        } @else {
          @if (isMatchOrg()) {
            <app-organization-match-card
              [volunteerItem]="item"
              (rejectMatch)="rejectMatch.emit($event)"
              (requestMatch)="requestMatch.emit($event)"
            ></app-organization-match-card>
          } @else {
            <app-event-card
              [eventItem]="item"
              [canEdit]="canEdit()"
              (eventDeleted)="eventDeleted.emit()"
            ></app-event-card>
          }
        }
      </div>
    }
  </div>
  <app-pagination
    [currentPage]="currentPage()"
    [totalItems]="events()?.length || 0"
    (pageChanged)="onPageChange($event)"
    [perPage]="perPage"
  ></app-pagination>
</div>
