<div class="creators-container">
  <div class="left-container">
    <p class="title">The Creators</p>

    <div class="text-div">
      <p>
        ჩვენი პლატფორმა სამი მეგობრის საერთო ხედვით დაიწყო. ჩვენი გუნდი აერთიანებს სხვადასხვა გამოცდილების მქონე ენთუზიასტებს: ტექნოლოგიების ექსპერტს, კრეატიულ დიზაინერსა და სოციალურ აქტივისტს. ჩვენი მიზანი იყო შეგვექმნა სივრცე, სადაც მოხალისეობა ისეთივე მარტივი და სასიამოვნო იქნებოდა, როგორც ერთი ღიმილის გაზიარება. გვჯერა, რომ ჩვენი სამეულის ენერგია და თქვენი მონდომება სამყაროს უკეთესობისკენ შეცვლის!
      </p>
      
      <p>
        ჩვენი პლატფორმა სამი მეგობრის საერთო ხედვით დაიწყო. ჩვენი გუნდი აერთიანებს სხვადასხვა გამოცდილების მქონე ენთუზიასტებს: ტექნოლოგიების ექსპერტს, კრეატიულ დიზაინერსა და სოციალურ აქტივისტს. ჩვენი მიზანი იყო შეგვექმნა სივრცე, სადაც მოხალისეობა ისეთივე მარტივი და სასიამოვნო იქნებოდა, როგორც ერთი ღიმილის გაზიარება. გვჯერა, რომ ჩვენი სამეულის ენერგია და თქვენი მონდომება სამყაროს უკეთესობისკენ შეცვლის!
      </p>
      
      <p>
        ჩვენი პლატფორმა სამი მეგობრის საერთო ხედვით დაიწყო. ჩვენი გუნდი აერთიანებს სხვადასხვა გამოცდილების მქონე ენთუზიასტებს: ტექნოლოგიების ექსპერტს, კრეატიულ დიზაინერსა და სოციალურ აქტივისტს. ჩვენი მიზანი იყო შეგვექმნა სივრცე, სადაც მოხალისეობა ისეთივე მარტივი და სასიამოვნო იქნებოდა, როგორც ერთი ღიმილის გაზიარება. გვჯერა, რომ ჩვენი სამეულის ენერგია და თქვენი მონდომება სამყაროს უკეთესობისკენ შეცვლის!
      </p>
    </div>
  </div>

  <div class="image-container">
    <div class="top-images">
      <img src="" alt="">
      <img src="" alt="">
    </div>

    <div class="bottom-image">
      <img src="" alt="">
    </div>
  </div>
</div>