@if (volunteer(); as volunteer) {
  <div class="organization-match-card">
    <div class="top-content">
      <div class="image-wrapper">
        @if (volunteer.profilePhotoUrl) {
          <img
            [src]="volunteer.profilePhotoUrl"
            [alt]="fullName() || 'volunteer image'"
            class="volunteer-image"
          />
        } @else {
          <mat-icon class="default-profile-icon" fontIcon="person"></mat-icon>
        }
      </div>

      <div class="main-info">
        <p class="volunteer-name">
          {{ fullName() || 'მოხალისე' }}
        </p>

        <div class="short-info">
          <p>
            <strong>იმეილი:</strong>
            <span>{{ volunteer.email || 'ელ.ფოსტა არ არის მითითებული' }}</span>
          </p>

          <p>
            <strong>მოქალაქეობა:</strong>
            <span>{{ volunteer.citizenship || 'მოქალაქეობა არ არის მითითებული' }}</span>
          </p>

          <p>
            <strong>დაბადების თარიღი:</strong>
            <span>{{ volunteer.dateOfBirth || 'არ არის მითითებული' }}</span>
          </p>

          <p>
            <strong>ენები:</strong>
            <span>{{ volunteer.languages || 'ენები არ არის მითითებული' }}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="description-block">
      <p class="section-title">ჩემ შესახებ</p>

      <p class="description-text">
        {{ volunteer.description || 'მოხალისეს აღწერა ჯერ არ აქვს დამატებული.' }}
      </p>
    </div>

    <div class="match-actions">
      <button
        class="match-button accept-button"
        type="button"
        (click)="requestMatch.emit(volunteerMatchId())"
      >
        დადასტურება
      </button>

      <button
        class="match-button reject-button"
        type="button"
        (click)="rejectMatch.emit(volunteerMatchId())"
      >
        უარყოფა
      </button>
    </div>
  </div>
}