<form class="edit-form">

  <div class="form-header">
    <button class="back-button" type="button" (click)="goToProfile()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>ორგანიზაციის რედაქტირება</h1>
  </div>

  <div class="form-grid">
    <div class="organization-info-div">
      <div class="img-div">
        <mat-form-field class="image-pill">
          <mat-label>სურათი</mat-label>

          @if (selectedImage() || editForm.profilePhotoUrl().value()) {
            <img
              [src]="selectedImage() || editForm.profilePhotoUrl().value()"
              alt="profile image"
            />
          } @else {
            <mat-icon>person</mat-icon>
          }

          <input matInput placeholder="სურათის ბმული" [formField]="editForm.profilePhotoUrl" />
          <input type="file" accept=".png,.jpg,.jpeg" (change)="onFileChosen($event)" />
        </mat-form-field>
      </div>

      <div class="organization-information">
        <mat-form-field>
          <mat-label>ორგანიზაციის სახელი</mat-label>
          <input matInput [formField]="editForm.organizationName" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>LinkedIn</mat-label>
          <input matInput [formField]="editForm.linkedInUrl" />
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <mat-label>ჩემს შესახებ</mat-label>
      <textarea matInput [formField]="editForm.description"></textarea>
    </mat-form-field>
  </div>

  <!-- <div class="current-events">
    <h2>მიმდინარე ივენთები</h2>

    <div class="events-grid">
      @for (
        event of [
          { title: 'Event 1' },
          { title: 'Event 2' },
          { title: 'Event 3' },
          { title: 'Event 4' },
          { title: 'Event 5' },
        ];
        track event
      ) {
        <div class="event-card">
          <h3>{{ event.title }}</h3>
          <p>Event details here...</p>
        </div>
      }
    </div> -->
  <!-- </div> -->

  <button mat-raised-button type="button" (click)="onSubmit($event)">შენახვა</button>
</form>
