@if (event(); as event) {
  <div class="event-card-container">
    <div class="image-container">
      <img
        [src]="event.mainPhotoUrl || 'assets/event-default-background.png'"
        [alt]="event.title || 'event image'"
        class="event-image"
      />

      @if (canEdit()) {
        <button class="icon-button ai-button" type="button" (click)="onAIMatch()">
          <mat-icon fontIcon="auto_awesome"></mat-icon>
        </button>

        <button class="icon-button delete-button" type="button" (click)="onToggleFavorite()">
          <mat-icon fontIcon="delete_outline"></mat-icon>
        </button>
      } @else {
        @if (isVolunteer()) {
          <button class="heart-button" type="button" (click)="onToggleFavorite()">
            <mat-icon fontIcon="favorite_border"></mat-icon>
          </button>
        }
      }

      <button class="see-more-button" type="button" (click)="onNavigateToEventDetails()">
        იხილეთ მეტი
      </button>
    </div>

    <div class="texts-container">
      <p class="event-title">
        {{ event.title }}
      </p>

      <p class="organisation-name">
        {{ event.organizationName }}
      </p>

      <div class="description-container">
        <p>
          {{ event.shortDescription }}
        </p>
      </div>
    </div>

    <div class="detailed-info-container">
      <div class="info-item location-item">
        <mat-icon fontIcon="location_on"></mat-icon>
        <p>{{ event.location }}</p>
      </div>

      <div class="info-row-bottom">
        <div class="info-item">
          <mat-icon fontIcon="schedule"></mat-icon>
          <p>{{ event.startDate | date: 'dd/MM/yyyy' }} - {{ event.endDate | date: 'dd/MM/yyyy' }}</p>
        </div>

        <div class="divider"></div>

        <div class="info-item">
          <mat-icon fontIcon="auto_awesome"></mat-icon>
          <p>{{ event.theme || "ტექნოლოგიები" }}</p>
        </div>
      </div>
    </div>
  </div>
}