<form class="volunteer">
  <h1 class="form-title">რეგისტრაცია</h1>

  <div class="input-div">
    <label for="firstName">სახელი</label>
    <input
      id="firstName"
      type="text"
      placeholder="შეიყვანეთ თქვენი სახელი"
      [formField]="form.firstName"
    />
  </div>

  <div class="input-div">
    <label for="lastName">გვარი</label>
    <input
      id="lastName"
      type="text"
      placeholder="შეიყვანეთ თქვენი გვარი"
      [formField]="form.lastName"
    />
  </div>

  <div class="input-div">
    <label for="email">იმეილი</label>
    <input id="email" type="email" placeholder="შეიყვანეთ თქვენი იმეილი" [formField]="form.email" />
  </div>

  <div class="input-div">
    <label for="birthDate">დაბადების თარიღი</label>
    <input id="birthDate" type="date" (input)="birthDateString.set($any($event.target).value)" />
  </div>

  <div class="input-div">
    <label for="citizenship">მოქალაქეობა</label>
    <input
      id="citizenship"
      type="text"
      placeholder="შეიყვანეთ თქვენი მოქალაქეობა"
      [formField]="form.citizenship"
    />
  </div>

  <div class="input-div">
    <label for="languages">ენები</label>
    <input id="languages" type="text" placeholder="რა ენებს ფლობთ?" [formField]="form.languages" />
  </div>

  <div class="input-div">
    <label for="profession">პროფესია</label>
    <input
      id="profession"
      type="text"
      placeholder="რა პროფესიის ხართ?"
      [formField]="form.profession"
    />
  </div>

  @if (profileOptions$ | async; as profileOptions) {
    <div class="input-div">
      <label for="selectedSkillIds">უნარები</label>

      <mat-form-field>
        <mat-select placeholder="უნარები*" id="skills" multiple [formField]="form.selectedSkillIds">
          @for (skill of profileOptions.skills; track skill.id) {
            <mat-option [value]="skill.id">{{ skill.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-div">
      <label for="interests">ინტერესები</label>

      <mat-form-field>
        <mat-select
          placeholder="ინტერესები*"
          id="interests"
          multiple
          [formField]="form.selectedInterestIds"
        >
          @for (interest of profileOptions.interests; track interest.id) {
            <mat-option [value]="interest.id">{{ interest.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }

  <div class="input-div">
    <label for="tags">თემატიკა</label>

    <mat-form-field>
      <mat-select
        placeholder="თემატიკა*"
        id="tags"
        multiple
        [formField]="form.selectedTagIds"
        (selectionChange)="onTagChange($event)"
      >
        @for (tag of tags$ | async; track tag) {
          <mat-option [value]="tag.tagId">{{ tag.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="input-div">
    <label for="password">პაროლი</label>
    <input
      id="password"
      type="password"
      placeholder="შეიყვანეთ პაროლი"
      [formField]="form.password"
    />
  </div>

  <div class="input-div">
    <label for="confirmPassword">პაროლის დადასტურება</label>
    <input
      id="confirmPassword"
      type="password"
      placeholder="გაიმეორეთ პაროლი"
      [formField]="form.confirmPassword"
    />
  </div>

  <button class="send-btn" type="button" (click)="onSend()">რეგისტრაცია</button>
</form>
