.feedback-container{
  margin:64px 156px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:32px;

  .title{
    font-size: 20px;
    margin: 0;
  }
  .cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
    width: 100%;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}