<div class="our-story-container">
  <div class="img-container">
    <img src="" alt="">
  </div>

  <div class="left-content-container">
    <p class="title">About Our Company</p>

    <div class="text-div">
      <p>
        კეთილი იყოს თქვენი მობრძანება ჩვენს პლატფორმაზე — სივრცეში,
        სადაც კეთილი სურვილები რეალურ საქმედ იქცევა! ჩვენი მიზანია, 
        დავაკავშიროთ ენთუზიაზმით სავსე მოხალისეები იმ ორგანიზაციებთან, 
        რომლებსაც მათი დახმარება ყველაზე მეტად სჭირდებათ. ჩვენ გვჯერა, 
        რომ თითოეულ ადამიანს აქვს უნიკალური ნიჭი, რომლითაც შეუძლია 
        სამყაროს უკეთესობისკენ შეცვლა. შემოგვიერთდით, იპოვეთ თქვენი 
        ინტერესების შესაბამისი ღონისძიება და გახდით დადებითი ცვლილებების 
        ნაწილი!
      </p>

      <p>
        კეთილი იყოს თქვენი მობრძანება ჩვენს პლატფორმაზე — სივრცეში, 
        სადაც კეთილი სურვილები რეალურ საქმედ იქცევა! ჩვენი მიზანია, 
        დავაკავშიროთ ენთუზიაზმით სავსე მოხალისეები იმ ორგანიზაციებთან, 
        რომლებსაც მათი დახმარება ყველაზე მეტად სჭირდებათ. ჩვენ გვჯერა, რომ 
        თითოეულ ადამიანს აქვს.
      </p>

      <p>
        კეთილი იყოს თქვენი მობრძანება ჩვენს პლატფორმაზე — სივრცეში, სადაც კეთილი სურვილები რეალურ საქმედ იქცევა! ჩვენი მიზანია, დავაკავშიროთ ენთუზიაზმით სავსე მოხალისეები იმ ორგანიზაციებთან, 
      </p>

      <p>
        კეთილი იყოს თქვენი მობრძანება ჩვენს პლატფორმაზე — სივრცეში, სადაც კეთილი სურვილები რეალურ საქმედ იქცევა! ჩვენი მიზანია, დავაკავშიროთ ენთუზიაზმით სავსე მოხალისეები იმ ორგანიზაციებთან, 
      </p>
    </div>
  </div>
</div>