<div class="how-it-works-container">
  <div class="left-content-container">
    <p class="title">How The Service Works</p>

    <div class="text-container">
      <p>
        ჩვენი პლატფორმის მთავარი ღირებულება ინდივიდუალურ საჭიროებებზე 
        მორგებული დაკავშირების (Matching) სისტემაა. ჩვენი მიზანია, რომ მოხალისეობის პროცესი იყოს შედეგიანი როგორც ინდივიდუალური პირებისთვის, ისე ორგანიზაციებისთვის.
      </p>

      <p>
        მოხალისეებისთვის: ინტერესებზე დაფუძნებული ძიება
        ჩვენ გვჯერა, რომ მოხალისეობა ყველაზე ეფექტური მაშინ არის, როდესაც ის 
        ადამიანის პიროვნულ ინტერესებსა და მისწრაფებებს ემთხვევა. ჩვენი სისტემა გთავაზობთ 
        მხოლოდ იმ ღონისძიებებს, რომლებიც თქვენ მიერ არჩეულ თემებსა და სფეროებს შეესაბამება.
      </p>

      <p>
        მოხალისეებისთვის: ინტერესებზე დაფუძნებული ძიება
        ჩვენ გვჯერა, რომ მოხალისეობა ყველაზე ეფექტური მაშინ არის, 
        როდესაც ის ადამიანის პიროვნულ ინტერესებსა და მისწრაფებებს ემთხვევა. 
        ჩვენი სისტემა გთავაზობთ მხოლოდ იმ ღონისძიებებს, რომლებიც თქვენ მიერ 
        არჩეულ თემებსა და სფეროებს შეესაბამება.
      </p>
    </div>
  </div>

  <div class="img-container">
    <div class="left-images">
      <img src="" alt="">
      <img src="" alt="">
    </div>

    <div class="right-img-div">
      <img src="" alt="">
    </div>
  </div>
</div>