<div class="how-it-works-container">
  <!-- <p class="title">როგორ მუშაობს ჩვენი სერვისი</p> -->

  <div class="flow-container">
    <div class="role-section">
      <p class="role-title">მოხალისე</p>

      <div class="flow-row">
        <div class="flow-step">
          <div class="image-frame">
            <img src="/assets/flow-volunteer-image1.png" alt="მოხალისის რეგისტრაცია" />
          </div>

          <h3>რეგისტრაცია</h3>

          <p>მოხალისე რეგისტრირდება და გვიზიარებს საკუთარ უნარებსა და ინტერესებს.</p>
        </div>

        <div class="arrow">→</div>

        <div class="flow-step">
          <div class="image-frame">
            <img src="/assets/flow-volunteer-image2.png" alt="AI დამთხვევა" />
          </div>

          <h3>AI დამთხვევა</h3>

          <p>
            AI დამთხვევის ღილაკზე ერთი დაჭერით სისტემა აანალიზებს მოხალისის პროფილს, რის შემდეგაც
            მომხმარებელს მის ინტერესებსა და უნარებზე მორგებულ ღონისძიებებს ვთავაზობთ.
          </p>
        </div>

        <div class="arrow">→</div>

        <div class="flow-step">
          <div class="image-frame">
            <img src="/assets/flow-volunteer-image3.png" alt="ღონისძიებები" />
          </div>

          <h3>შესაფერისი ღონისძიებები</h3>

          <p>მოხალისე იღებს მისთვის ყველაზე შესაბამისი ღონისძიებების ჩამონათვალს.</p>
        </div>
      </div>
    </div>

    <div class="role-section">
      <p class="role-title">ორგანიზაცია</p>

      <div class="flow-row">
        <div class="flow-step">
          <div class="image-frame">
            <img src="/assets/flow-orgnization-image1.png" alt="ორგანიზაციის რეგისტრაცია" />
          </div>

          <h3>რეგისტრაცია</h3>

          <p>ორგანიზაცია ქმნის პროფილს და ავსებს ძირითად მოთხოვნილ ინფორმაციას.</p>
        </div>

        <div class="arrow">→</div>

        <div class="flow-step">
          <div class="image-frame">
            <img src="/assets/flow-orgnization-image2.png" alt="ღონისძიების დამატება" />
          </div>

          <h3>ღონისძიების დამატება</h3>

          <p>
            ორგანიზაცია ამატებს ღონისძიებას და განსაზღვრავს მოთხოვნებს. AI დამთხვევის ღილაკზე
            დაჭერისას ჩვენ ვაანალიზებთ ღონისძიების აღწერას და ვპოულობთ მისთვის ყველაზე შესაბამის
            მოხალისეებს.
          </p>
        </div>

        <div class="arrow">→</div>

        <div class="flow-step">
          <div class="image-frame">
            <img src="/assets/flow-orgnization-image3.png" alt="მოხალისეები" />
          </div>

          <h3>შესაფერისი მოხალისეები</h3>

          <p>ორგანიზაცია იღებს ღონისძიებისთვის ყველაზე შესაბამისი მოხალისეების ჩამონათვალს..</p>
        </div>
      </div>
    </div>
  </div>
</div>
