<div class="organization-form">
  <h1 class="form-title">რეგისტრაცია</h1>
  
  <div class="input-div">
    <label for="name">ორგანიზაციის დასახელება</label>
    <input
      id="name"
      type="text"
      placeholder="შეიყვანეთ ორგანიზაციის სახელი"
      [formField]="form.organizationName"
    />

    @if (!isValid(form.organizationName)) {
      <p>{{ getErrors(form.organizationName) }}</p>
    }
  </div>

  <div class="input-div">
    <label for="email">ელ. ფოსტა</label>
    <input
      id="email"
      type="text"
      placeholder="შეიყვანეთ ორგანიზაციის იმეილი"
      [formField]="form.email"
    />

    @if (!isValid(form.email)) {
      <p [innerHTML]="getErrors(form.email)"></p>
    }
  </div>

  <div class="input-div">
    <label for="organisationDescription">ორგანიზაციის შესახებ</label>
    <textarea
      class="big-input"
      placeholder="მოგვიყევით თქვენი ორგანიზაციის შესახებ"
      [formField]="form.description"
    ></textarea>

    @if (!isValid(form.description)) {
      <p>{{ getErrors(form.description) }}</p>
    }
  </div>

  <div class="input-div">
    <label for="password">პაროლი</label>
    <input
      id="password"
      type="password"
      placeholder="შეიყვანეთ სასურველი პაროლი"
      [formField]="form.password"
    />

    @if (!isValid(form.password)) {
      <p>{{ getErrors(form.password) }}</p>
    }
  </div>

  <div class="input-div">
    <label for="confirmPassword">პაროლის დადასტურება</label>
    <input
      id="confirmPassword"
      type="password"
      placeholder="შეიყვანეთ პაროლი კიდევ ერთხელ"
      [formField]="form.confirmPassword"
    />

    @if (!isValid(form.confirmPassword)) {
      <p>{{ getErrors(form.confirmPassword) }}</p>
    }
  </div>

  <button class="send-btn" (click)="onSend()">რეგისტრაცია</button>
</div>
