<button
  class="icon-button notification-trigger"
  class="icon-button notification-trigger"
  type="button"
  cdkOverlayOrigin
  #notificationOrigin="cdkOverlayOrigin"
  (click)="toggleOverlay()"
>
  <mat-icon fontIcon="notifications_none"></mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="notificationOrigin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="positions"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayBackdropClass]="'notification-backdrop'"
  (backdropClick)="close()"
  (detach)="close()"
>
  <div class="notifications-panel">
    <div class="notifications-header">
      <div>
        <p class="small-title">შეტყობინებები</p>
        <h2>ნოტიფიკაციები</h2>
      </div>

      <button class="close-button" type="button" (click)="close()">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    </div>

    <div class="tabs-container">
      <button
        class="tab-button"
        type="button"
        [class.active]="activeTab === 'notifications'"
        (click)="activeTab = 'notifications'"
      >
        ნოტიფიკაციები
      </button>

      <button
        class="tab-button"
        type="button"
        [class.active]="activeTab === 'matches'"
        (click)="activeTab = 'matches'"
      >
        დამთხვევები
      </button>
    </div>

    <div class="notifications-list">
      @if (activeTab === 'notifications') {
        @for (item of [1, 2, 3]; track item) {
          <app-notification-card></app-notification-card>
        }
      }

      @if (activeTab === 'matches') {
        @for (item of [1]; track item) {
          <app-notification-card></app-notification-card>
        }
      }
    </div>
  </div>
</ng-template>
